#first {
    margin:auto;
    max-width: 1400px;
    min-height: 98vh;
    font-family: 'Muli', sans-serif;
}

.background {
    margin:auto;
    width: 80vw;
    min-height: 100vh;
    min-width: 600px;
    background-color: #ece7f2;
    position: absolute;
    top: 0px;
    left: 10vw;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    font-family: 'Muli', sans-serif;
}

#vis {
    z-index: -2;
    padding-top: 6em;
}
#svg{
    width: 500px;
}

#description {
    max-width: 800px;
    min-width: 400px;
    padding: 0 10em;
}

#svg{
    text-align: center;
    padding: 20px 10px;
    background-color: cornsilk;
    margin-right: 50px;
    min-height: 400px;
    max-height: 500px;
    min-width: 540px;
}


navbar{
    width: 100vw;
    padding: 1em 0em;
    background-color: #756bb1;
    position: absolute;
    top: 0;
    z-index: -1;
    text-align: center;
}

navbar a{
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    z-index: 1;
}

a:hover {
    color: black;
}


navbar a:hover {
    color: #bdd4f9;
}

#container {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 10vw;
}

#container a {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    margin: 20px;
    background-color: skyblue;
    text-decoration: none;
    text-align: center;
}

#resources {
    margin-top: 50px;
}

.title {
    font-size: 1.25em;
}

svg {
    margin: 10px;
}

#about {
padding: 0px 40px;
}