#first {
    margin:auto;
    max-width: 1400px;
}

#flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
}
#svg, #description{
    width: 500px;
}

#svg{
    text-align: center;
    padding: 20px 0;
    background-color: cornsilk;
    margin-right: 50px;
    min-height: 400px;
}

#resources{
    flex: 0 100%;
    padding: 0em 50em;
}

navbar{
    flex: 0 100%;
    padding: 0em 50em;
}

#container {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 10vw;
}

#container * {
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    margin: 20px;
    background-color: skyblue;
}
#resources {
    margin-top: 50px;
}